@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600&display=swap');

:root {
  --primary: #4c5efd;
  --primary-2: #2e41f1;
  --primary-text-1: #ffffff;

  --hover-overlay: rgba(0, 0, 0, 0.051);
  --hover-overlay-2: rgba(68, 73, 80, 0.251);

  --supplementary-1: #49f39e;

  --shadow-1: rgba(0, 0, 0, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-3: rgba(0, 0, 0, 0.3);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-7: rgba(0, 0, 0, 0.7);
  --shadow-8: rgba(0, 0, 0, 0.8);

  --primary-icon: #050505;

  --secondary-icon: #65676b;
  --secondary-text: #65676b;

  --black: #000;
  --white: #fff;

  --navbar-height: 70px;

  --placeholder-text: #8a8d91;
  --filter-invert: 0;
}
.dark {
  --primary-1: #64f4ac;

  --primary-background: #2d2e32;
  --secondary-background: #25262a;

  --hover-overlay: rgba(255, 255, 255, 0.1);
  --hover-overlay-2: rgba(255, 255, 255, 0.25);

  --supplementary-3: rgb(49, 162, 76);

  --shadow-1: rgba(252, 252, 252, 0.1);
  --shadow-2: rgba(0, 0, 0, 0.2);
  --shadow-5: rgba(0, 0, 0, 0.5);
  --shadow-7: rgba(0, 0, 0, 0.7);
  --shadow-8: rgba(0, 0, 0, 0.8);
  --shadow-9: rgba(7, 7, 7, 0.8);

  --primary-icon: #e4e6eb;
  --primary-text: #e4e6eb;

  --secondary-icon: #b0b3b8;
  --secondary-text: #b0b3b8;

  --filter-invert: 100%;
}
.App {
  text-align: center;
}
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--primary-text);
  font-size: 1rem;
  font-family: 'Poppins', sans-serif;
  text-decoration: none;
}
.flex {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}
main {
  width: 100%;
  min-height: 100vh;
  background-color: var(--secondary-background);
}
ul,
li {
  list-style: none;
}
input,textarea,button {
  width: 80%;
  height: 5vh;
  border: none;
  border-bottom: 1px solid var(--primary-text);
  padding-left: 5px;
  outline: none;
}
input::placeholder{
  color: var(--placeholder-text);
}
button{
  border: none;
  background-color: var(--primary-1);
  color:var(--white);
  cursor: pointer;
}
.container{
  width: 35vw;
  height: 50vh;
  margin: auto;
  padding: 5%;
  margin-top: 10vh;
  box-shadow: 0px 5px 5px var(--shadow-3);
}
.container:hover{
  box-shadow: 0px 3px 5px var(--primary-1);
}
.text-centre{
  text-align: center;
}
.direction-col{
  flex-direction: column;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.t1{
  font-size: 32px;
  color: var(--primary-1);
}
.t2{
  font-size: 25px;
  color: var(--primary-1);
}
.error {
  width: 80%;
  color:red !important;
  text-align: left !important;
  font-size: 0.75rem;
}